:root {
  --color-default: #fff;
  --color-inverse: #0c6cfd;
}
.-button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  border: 1px solid #303030;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.-button--primary {
  background-color: #0c6cfd;
  color: var(--color-default);
}
.-button--primary:hover {
  background-color: #3685fa;
}
.-button--secondary {
  background-color: #333131;
  color: var(--color-default);
}
.-button--secondary:hover {
  background-color: #1f1f1f;
}
.-button--inverse {
  background-color: #090909;
  color: var(--color-inverse);
}
.-button--inverse:hover {
  background-color: #1f1f1f;
}
.-button--small {
  font-size: 12px;
  padding: 8px 12px;
}
.-button--medium {
  font-size: 14px;
  padding: 8px 50px;
}
.-button--large {
  font-size: 16px;
  padding: 8px 126px;
}
